<div class="container">
    <div class="grid grid-cols-1 pb-8 text-center">
        <h3 class="mb-4 md:text-2xl text-xl font-medium">Blogs or News</h3>
        <p class="text-slate-400 dark:text-slate-300 max-w-xl mx-auto">Launch your campaign and benefit from our expertise on designing and managing conversion centered Tailwind CSS html page.</p>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-[30px] mt-8">
        <div *ngFor="let item of blogData.slice(0,3)" class="blog relative rounded-md shadow-sm shadow-slate-200 dark:shadow-gray-800 overflow-hidden">
            <img [src]="item.image" alt="">

            <div class="content p-6">
                <a [routerLink]="['/blog-detail',item.id]" class="text-lg hover:text-violet-600 dark:text-white dark:hover:text-violet-600 transition duration-500 ease-in-out font-medium h5">{{item.title}}</a>
                <p class="text-slate-400 mt-3">{{item.desc}}</p>
                
                <div class="mt-5">
                    <a [routerLink]="['/blog-detail',item.id]" class="hover:text-violet-600 dark:hover:text-violet-600 after:bg-violet-600 dark:text-white transition duration-500">Read More <i class="uil uil-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>