<footer class="footer bg-slate-950 relative text-gray-200 dark:text-gray-200">    
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="col-span-12">
                <div class="py-[60px] px-0">                    
                    <div class="grid grid-cols-1">
                        <div class="text-center">
                            <img [src]="'/assets/images/logo-icon-64.png'" class="block mx-auto" alt="">
                            <p class="max-w-xl mx-auto text-slate-400 mt-8">Launch your campaign and benefit from our expertise on designing and managing conversion centered Tailwind CSS html page.</p>
                        </div>

                        <ul class="list-none footer-list text-center mt-8">
                            <li class="inline px-2"><a [routerLink]="'/services'" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out">Services</a></li>
                            <li class="inline px-2 mt-[10px]"><a [routerLink]="'/aboutus'" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out ms-2">About Us</a></li>
                            <!--<li class="inline px-2 mt-[10px]"><a [routerLink]="'/blogs'" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out ms-2">Blogs</a></li>-->
                            <!--<li class="inline px-2 mt-[10px]"><a [routerLink]="'/team'" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out ms-2">Team</a></li>-->
                            <!--<li class="inline px-2 mt-[10px]"><a [routerLink]="'/pricing'" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out ms-2">Pricing</a></li>-->
                            <li class="inline px-2 mt-[10px]"><a [routerLink]="'/contactus'" class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out ms-2">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-[30px] px-0 border-t border-slate-800">
        <div class="container text-center">
            <div class="grid md:grid-cols-12 items-center">
                <div class="md:col-span-6">
                    <div class="md:text-start text-center">
                        <p class="text-gray-400">© {{year}} Cloud Computing Associates.</p>
                    </div>
                </div>

                <div class="md:col-span-6 md:mt-0 mt-8">
                    <ul class="list-none md:text-end text-center">
                        <li class="inline"><a href="https://1.envato.market/Cloud Computing Associates" target="_blank" class="h-8 w-8 inline-flex items-center text-center justify-center text-base font-normal tracking-wide align-middle transition duration-500 ease-in-out border border-gray-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i class="uil uil-shopping-cart align-middle" title="Buy Now"></i></a></li>
                        <li class="inline me-1"><a href="https://dribbble.com/shreethemes" target="_blank" class="h-8 w-8 inline-flex items-center text-center justify-center text-base font-normal tracking-wide align-middle transition duration-500 ease-in-out border border-gray-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i class="uil uil-dribbble align-middle" title="dribbble"></i></a></li>
                        <li class="inline me-1"><a href="https://www.behance.net/shreethemes" target="_blank" class="h-8 w-8 inline-flex items-center text-center justify-center text-base font-normal tracking-wide align-middle transition duration-500 ease-in-out border border-gray-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i class="uil uil-behance" title="Behance"></i></a></li>
                        <li class="inline me-1"><a href="http://linkedin.com/company/shreethemes" target="_blank" class="h-8 w-8 inline-flex items-center text-center justify-center text-base font-normal tracking-wide align-middle transition duration-500 ease-in-out border border-gray-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i class="uil uil-linkedin" title="Linkedin"></i></a></li>
                        <li class="inline me-1"><a href="https://www.facebook.com/shreethemes" target="_blank" class="h-8 w-8 inline-flex items-center text-center justify-center text-base font-normal tracking-wide align-middle transition duration-500 ease-in-out border border-gray-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i class="uil uil-facebook-f align-middle" title="facebook"></i></a></li>
                        <li class="inline me-1"><a href="https://www.instagram.com/shreethemes/" target="_blank" class="h-8 w-8 inline-flex items-center text-center justify-center text-base font-normal tracking-wide align-middle transition duration-500 ease-in-out border border-gray-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i class="uil uil-instagram align-middle" title="instagram"></i></a></li>
                        <li class="inline me-1"><a href="https://twitter.com/shreethemes" target="_blank" class="h-8 w-8 inline-flex items-center text-center justify-center text-base font-normal tracking-wide align-middle transition duration-500 ease-in-out border border-gray-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i class="uil uil-twitter align-middle" title="twitter"></i></a></li>
                        <li class="inline me-1"><a href="mailto:support@shreethemes.in" class="h-8 w-8 inline-flex items-center text-center justify-center text-base font-normal tracking-wide align-middle transition duration-500 ease-in-out border border-gray-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i class="uil uil-envelope align-middle" title="email"></i></a></li>
                        <li class="inline me-1"><a href="https://forms.gle/QkTueCikDGqJnbky9" target="_blank" class="h-8 w-8 inline-flex items-center text-center justify-center text-base font-normal tracking-wide align-middle transition duration-500 ease-in-out border border-gray-800 rounded-md hover:border-violet-600 dark:hover:border-violet-600 hover:bg-violet-600 dark:hover:bg-violet-600"><i class="uil uil-file align-middle" title="customization"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
