<div class="container">
    <div class="grid grid-cols-1 pb-8 text-center">
        <h3 class="mb-6 md:text-2xl text-xl font-medium">Client's Review</h3>

        <p class="text-slate-400 max-w-xl mx-auto">This is just a simple text made for this unique and awesome template, you can replace it with any text.</p>
    </div>

    <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">
        <ul *ngFor="let item of clientData" [ngClass]="item.ulClass">
            <li class="rounded-lg shadow-lg shadow-gray-200 dark:shadow-gray-800 p-6 bg-white dark:bg-slate-900">
                <div class="flex items-center pb-6 border-b border-gray-100 dark:border-gray-800">
                    <img [src]="item.image1" class="h-16 w-16 rounded-full shadow-sm dark:shadow-gray-800" alt="">

                    <div class="ps-4">
                        <a [routerLink]="[]" class="text-lg h5 hover:text-violet-600 duration-500 ease-in-out">{{item.name1}}</a>
                        <p class="text-slate-400">{{item.position1}}</p>
                    </div>
                </div>

                <div class="mt-6">
                    <p class="text-slate-400">{{item.desc1}}</p>
                    <ul class="list-none mb-0 text-amber-400 mt-2">
                        <li *ngFor="let el of item.rate" class="inline"><i [ngClass]="el"></i></li>
                    </ul>
                </div>
            </li>

            <li class="rounded-lg shadow-lg shadow-gray-200 dark:shadow-gray-800 p-6 bg-white dark:bg-slate-900">
                <div class="flex items-center pb-6 border-b border-gray-100 dark:border-gray-800">
                    <img [src]="item.image2" class="h-16 w-16 rounded-full shadow-sm dark:shadow-gray-800" alt="">

                    <div class="ps-4">
                        <a [routerLink]="[]" class="text-lg h5 hover:text-violet-600 duration-500 ease-in-out">{{item.name2}}</a>
                        <p class="text-slate-400">{{item.position2}}</p>
                    </div>
                </div>

                <div class="mt-6">
                    <p class="text-slate-400">{{item.desc2}}</p>
                    <ul class="list-none mb-0 text-amber-400 mt-2">
                        <li *ngFor="let el of item.rate" class="inline"><i [ngClass]="el"></i></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>