<div class="container lg:mt-24 mt-16">
    <div class="grid grid-cols-1 text-center">
        <h3 class="mb-6 md:text-2xl text-xl font-medium">Have Questions ? Get in touch!</h3>
        <!--<p class="text-slate-400 max-w-xl mx-auto">This is just a simple text made for this unique and awesome template, you can replace it with any text.</p>-->
        <div class="mt-6">
            <a [routerLink]="'/contactus'" class="py-2 px-5 inline-block font-normal tracking-wide border align-middle transition duration-500 ease-in-out text-base text-center bg-violet-600 hover:bg-violet-700Contact us border-violet-600 hover:border-violet-700 text-white rounded-md"><i class="uil uil-phone align-middle me-2"></i> </a>
        </div>
    </div>
</div>