 <nav class="navbar" id="navbar" [ngClass]="scroll ? 'is-sticky' : ''">
    <div class="container flex flex-wrap items-center" [ngClass]="{ 'justify-start': current === '/index-two',
    'justify-end': current === '/' || current === '/index-four'}">
        <a class="navbar-brand md:me-8" [routerLink]="'/'">
            <span class="inline-block dark:hidden">
                <img [src]="'/assets/images/logo-dark.png'" class="l-dark" alt="">
                <img [src]="'/assets/images/logo-light.png'" class="l-light" alt="">
            </span>
            <img [src]="'/assets/images/logo-light.png'" class="hidden dark:inline-block" alt="">
        </a>

        <div class="nav-icons flex items-center lg_992:order-2 ms-auto lg:ms-4">
<!--             <ul class="list-none menu-social mb-0">
                <li class="inline">
                    <a [routerLink]="'/login'" class="h-9 w-9 inline-flex items-center text-center justify-center text-base font-normal tracking-wide border align-middle transition duration-500 ease-in-out rounded-full bg-violet-600 hover:bg-violet-700 border-violet-600 hover:border-violet-700 text-white"><i class="uil uil-user"></i></a>
                </li>
            </ul> -->
            <button (click)="toggleMenu()"  data-collapse="menu-collapse" type="button" class="collapse-btn inline-flex items-center ms-3 text-slate-950 dark:text-white lg_992:hidden" aria-controls="menu-collapse" aria-expanded="false">
                <span class="sr-only">Navigation Menu</span>
                <i class="mdi mdi-menu text-[24px]"></i>
            </button>
        </div>

        <div class="navigation lg_992:order-1 lg_992:flex" [ngClass]="{ '!me-auto': current === '/index-two',
    '!ms-auto': current === '/' || current === '/index-four', 'hidden' : toggleManu}" id="menu-collapse">
            <ul class="navbar-nav nav-light" id="navbar-navlist">
                <li class="nav-item" [ngClass]="currentSection === 'home' ? 'active' : ''">
                    <a class="nav-link" [routerLink]="[]" (click)="scrollToSection('home')">Home</a>
                </li>
                <li class="nav-item" [ngClass]="currentSection === 'about' ? 'active' : ''">
                    <a class="nav-link" [routerLink]="[]" (click)="scrollToSection('about')">About Us</a>
                </li>
                <li class="nav-item" [ngClass]="currentSection === 'features' ? 'active' : ''">
                    <a class="nav-link" [routerLink]="[]" (click)="scrollToSection('features')">Services</a>
                </li>
                <!--<li class="nav-item" [ngClass]="currentSection === 'pricing' ? 'active' : ''">
                    <a class="nav-link" [routerLink]="[]" (click)="scrollToSection('pricing')">Pricing</a>
                </li>
                <li class="nav-item" [ngClass]="currentSection === 'testi' ? 'active' : ''">
                    <a class="nav-link" [routerLink]="[]" (click)="scrollToSection('testi')">Review</a>
                </li>
                <li class="nav-item" [ngClass]="currentSection === 'blog' ? 'active' : ''">
                    <a class="nav-link" [routerLink]="[]" (click)="scrollToSection('blog')">Blog</a>
                </li>-->
                <li class="nav-item" [ngClass]="currentSection === 'contact' ? 'active' : ''">
                    <a class="nav-link" [routerLink]="[]" (click)="scrollToSection('contact')">Contact us</a>
                </li>                       
            </ul>
        </div>
    </div>
</nav>
