<div class="container">
    <div class="grid grid-cols-1 pb-8 text-center">
        <h3 class="mb-4 md:text-2xl text-xl font-medium">Get In Touch !</h3>

        <p class="text-slate-400 dark:text-slate-300 max-w-xl mx-auto">Launch your campaign and benefit from our expertise on designing and managing conversion centered Tailwind CSS html page.</p>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-12 md:grid-cols-2 mt-8 items-center gap-[30px]">
        <div class="lg:col-span-8">
            <div class="p-6 rounded-md shadow-sm bg-white dark:bg-slate-900">
                <form>
                    <div class="grid lg:grid-cols-12 lg:gap-[30px]">
                        <div class="lg:col-span-6 mb-5">
                            <input name="name" id="name" type="text" class="form-input w-full py-2 px-3 h-10 bg-transparent border border-gray-200 dark:border-gray-800 dark:bg-slate-900 dark:text-slate-200 rounded outline-none focus:border-violet-600/50 dark:focus:border-violet-600/50 focus:ring-0" placeholder="Name :">
                        </div>

                        <div class="lg:col-span-6 mb-5">
                            <input name="email" id="email" type="email" class="form-input w-full py-2 px-3 h-10 bg-transparent border border-gray-200 dark:border-gray-800 dark:bg-slate-900 dark:text-slate-200 rounded outline-none focus:border-violet-600/50 dark:focus:border-violet-600/50 focus:ring-0" placeholder="Email :">
                        </div>
                    </div>

                    <div class="grid grid-cols-1">
                        <div class="mb-5">
                            <input name="subject" id="subject" class="form-input w-full py-2 px-3 h-10 bg-transparent border border-gray-200 dark:border-gray-800 dark:bg-slate-900 dark:text-slate-200 rounded outline-none focus:border-violet-600/50 dark:focus:border-violet-600/50 focus:ring-0" placeholder="Subject :">
                        </div>

                        <div class="mb-5">
                            <textarea name="comments" id="comments" class="form-input w-full py-2 px-3 bg-transparent border border-gray-200 dark:border-gray-800 dark:bg-slate-900 dark:text-slate-200 rounded outline-none focus:border-violet-600/50 dark:focus:border-violet-600/50 focus:ring-0 h-28" placeholder="Message :"></textarea>
                        </div>
                    </div>
                    <button type="submit" id="submit" name="send" class="py-2 px-5 inline-block font-normal tracking-wide border align-middle transition duration-500 ease-in-out text-base text-center bg-violet-600 hover:bg-violet-700 border-violet-600 hover:border-violet-700 text-white rounded-md">Send Message</button>
                </form>
            </div>
        </div>

        <div class="lg:col-span-4">
            <div class="lg:ms-8">
                <div class="flex">
                    <div class="icons text-center mx-auto">
                        <i class="uil uil-phone block rounded text-2xl dark:text-white mb-0"></i>
                    </div>

                    <div class="flex-1 ms-6">
                        <h5 class="text-lg dark:text-white mb-2 font-medium">Phone</h5>
                        <a href="tel:+152534-468-854" class="text-slate-400">+1 503-572-0066</a>
                    </div>
                </div>

                <div class="flex mt-4">
                    <div class="icons text-center mx-auto">
                        <i class="uil uil-envelope block rounded text-2xl dark:text-white mb-0"></i>
                    </div>

                    <div class="flex-1 ms-6">
                        <h5 class="text-lg dark:text-white mb-2 font-medium">Email</h5>
                        <a href="mailto:info@cloudcomputingassociates.com" class="text-slate-400">info&#64;cloudcomputingassociates.com</a>
                    </div>
                </div>

                <div class="flex mt-4">
                    <div class="icons text-center mx-auto">
                        <i class="uil uil-map-marker block rounded text-2xl dark:text-white mb-0"></i>
                    </div>

                    <div class="flex-1 ms-6">
                        <h5 class="text-lg dark:text-white mb-2 font-medium">Location</h5>
                        <p class="text-slate-400 mb-2">Happy Valley, Oregon 97015 USA </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>