<app-navbar-full/>
<section class="py-28 w-full table relative bg-[url('/assets/images/bg/bg-5.jpg')] bg-bottom bg-no-repeat" id="home">
    <div class="absolute inset-0 bg-slate-950/80"></div>

    <div class="container">
        <div class="grid grid-cols-1 pb-8 text-center mt-10">
            <h3 class="font-medium leading-normal text-3xl mt-10 text-white">Our Services</h3>
        </div>
    </div>
</section>
<!--
<section class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800">
    <app-service-one [title]="false"/>
    <div class="md:mt-24 mt-16">
        <app-client/>
    </div>

    <app-get-in-touch-two/>
</section>
-->
<app-footer/>