<app-navbar-full/>
<section class="py-28 w-full table relative bg-[url('/assets/images/bg/bg-5.jpg')] bg-bottom bg-no-repeat" id="home">
    <div class="absolute inset-0 bg-slate-950/80"></div>

    <div class="container">
        <div class="grid grid-cols-1 pb-8 text-center mt-10">
            <h3 class="font-medium leading-normal text-3xl mt-10 text-white">Smart Cloud Solutions, Serious Results.</h3>
        </div>
    </div>
</section>
<section class="relative md:py-24 py-16" id="about">
    <app-about [video]="true"/>
    <div class="lg:mt-24 mt-16">
        <app-service-one [title]="false"[title]="true"/>
    </div>

    <!--<div class="container lg:mt-24 mt-16">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-4 md:text-2xl text-xl font-medium">Meet Our Teammates</h3>
            <p class="text-slate-400 max-w-xl mx-auto">This is just a simple text made for this unique and awesome template, you can replace it with any text.</p>
        </div>
        <app-team-one/>
    </div>-->

   <app-get-in-touch-two/>
</section>

<app-footer/>